<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Source</title>
</head>
<body>
    <h1>WS Data Source HTML</h1>
    <button id="rand_gen" onclick="send_number();">Click</button>
    <script>
        var socket = new WebSocket('ws://' + window.location.host + '/ws_transfer/');
        socket.onopen = function open() {
          console.log('WebSockets connection created.');
        };

        function send_number() {
            var x = Math.random() * 100;
            // data = JSON.stringify({"x": x, "y": y, "z": z});
            console.log(x);
            socket.send(x);
        }
    </script>
</body>
</html>